<link rel="stylesheet" href="/css/orderDetail.css">
<main>
    <div class="container">
        <a style="color: black;" href="/user">
            <ion-icon id="back" name="arrow-back-circle-outline"></ion-icon>
        </a>
        <div class="content-product" id="show-card">

            {{#each orderDetails}}
            <div class="card">
                <div class="img">
                    <a href="/product/{{this.productId.slug}}">
                        <img src="{{this.productId.imageProduct}}" alt="">
                    </a>
                </div>
                <div class="name-size-color-product">
                    <b>{{this.productId.nameProduct}}</b>
                    <p>{{this.size}}/<span
                            style="height: 15px;margin-left: 5px;width: 15px;display: inline-block; border: 1px solid black; border-radius: 5px; background-color: {{this.colorCart}} ;"></span>
                    </p>
                </div>
                <div class="total-product">
                    <b>x{{this.quantity}}</b>
                    <p>{{this.total}}.000VND</p>
                </div>
            </div>
            {{/each}}

        </div>
        <hr>
        <div class="content-detailOrder">
            <div class="order-status">
                <h2>Tình trạng đơn hàng</h2>
                <p id="show-order-status">{{order.status}}</p>
            </div>
            <div class="total-order">
                <h2>Tổng giá trị đơn hàng</h2>
                <p id="show-total-order">{{order.totalPrice}}.000VND</p>
            </div>
        </div>
        <hr>
        <div class="btn-delete-order">
            <button id="btn-delete" data-order-id="{{order._id}}">Hủy đơn hàng</button>
        </div>
    </div>
</main>

<script type="module" src="/js/orderDetail.js"></script>