<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>{{title}}</title>
    <!-- Liên kết file CSS động -->
    {{#if cssFile}}
    <link rel="stylesheet" href="/css/{{cssFile}}">
    {{/if}}
</head>

<body>
    <div class="app">
        {{> header}}
        <div class="container">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
</body>
{{#if jsFile}}
<script src="/js/{{jsFile}}"></script>
{{/if}}

</html>